<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataAccessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString2"
      connectionString="Data Source=192.168.22.10;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=usertele;Password=Metro2018;Connect Timeout=600"
      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString3"
      connectionString="Data Source=192.168.22.10;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=usertele;Password=Metro2018;Connect Timeout=600"
      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString4"
      connectionString="Data Source=192.168.22.10;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=usertele;Password=Metro2018;Connect Timeout=600"
      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString"
      connectionString="Data Source=192.168.22.10;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=usertele;Password=Metro2018;Connect Timeout=600"
      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString1"
      connectionString="Data Source=192.168.22.10;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=usertele;Password=Metro2018;Connect Timeout=600"
      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.TeleBanConnection"
      connectionString="Data Source=192.168.22.10;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=teleban;Password=Metro2018*;Connect Timeout=600"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ISWS.IService1" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <DataAccessLayer.Properties.Settings>
      <setting name="DataAccessLayer_WSBanco_Service" serializeAs="String">
        <value>http://192.168.22.3/Service.asmx</value>
      </setting>
    </DataAccessLayer.Properties.Settings>
  </applicationSettings>
</configuration>
