<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAccessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString"
            connectionString="Data Source=;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString1"
            connectionString="Data Source=;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString2"
            connectionString="Data Source=;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString3"
            connectionString="Data Source=;Initial Catalog=TeleBanca;Persist Security Info=True;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.TeleBancaConnectionString4"
            connectionString="Data Source=localhost;Initial Catalog=TeleBanca;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DataAccessLayer.Properties.Settings>
            <setting name="DataAccessLayer_WSBanco_Service" serializeAs="String">
                <value>http://localhost/WTBanca/Service.asmx</value>
            </setting>
        </DataAccessLayer.Properties.Settings>
    </applicationSettings>
</configuration>